.header{
    font-size: 32;
    padding: 48;
    
}

.card{
    width: 70% ;
    min-height: 80vh;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    border-radius: 16px;
}

.input {
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;
}